---
layout: layout
title: Game Metadata and Citation Project Controlled Vocabularies
---
<h1 id="introduction">Computer Game Platform</h1>

<p>Below is an indexed listing of the recommended terms for describing computer game platforms. 
This page contains links to all terms in the vocabulary and describes basic methodology and usage requirements. 
For more information on vocabulary creation see this citation.</p>

<p> A computer game platform is a technical configuration of software and / or hardware that allows for the execution and play of a computer game. 
The platforms in this vocabulary are organized in a hierarchy descending from the top-level concept of Computer Game Platform, and grounding out in specific platform terms. 
The platform terms at the leaves of the hierarchy are considered to be the most specific. The most specific terms are determined by through a consideration of 'reasonable compatilibility'. 
That is, every effort has been made so that a term label can lead an informed researcher or patron to a game object, and give them a basic idea of what platform would be needed to get the game running.</p>

<p>The computer platform terms are split into two basic categories:</p>

<ul>
  <li>
    <p>Software platform:</p>
    <ul>
        <li>
            <p>A technical configuration wherein all the dependencies for game execution are software-based.</p>
        </li>
    </ul>
  </li>
  <li>
    <p>Hardware platform:</p>
    <ul>
      <li>
        <p>A technical configuration that requires specific physical components. 
        A hardware platform may also have software dependencies, but they are usually included with or embedded in the hardware.</p>
      </li>
    </ul>
  </li>
</ul>

<p>Hardware platforms are further delineated into general platforms and dedicated platforms. 
A general hardware platform is a computational platform designed to run software, but not explicitly designed to support games. 
A dedicated hardware platform is a computational platform primarily designed to run computer games.</p>

<h2 id="usage">Usage</h2>

<p>The terms in this vocabulary are recommended for use in the MARC 753 field. 
For more information see here.</p>

<h3 id="terms">Terms:</h3>



