---
layout: layout
title: Game Metadata and Citation Project Controlled Vocabularies
---

<p>Welcome to the reference pages for the UCSC-Stanford Libraries controlled vocabularies for Computer Game Platforms and
Media Formats. This site is a complimentary, human-readable version of the vocabularies present in the Open Metadata
Registry (platform | media format). The goal is to provide consolidated, accurate information about formats and
platforms to help with cataloging identification and descriptive metadata for collection items. Each page provides basic
descriptive text, and extensive visual references to aid in material identification. The vocabularies are organized
according to the Simple Knowledge Organization System (SKOS), a hierarchical semantic schema mainly defined through
broader / narrower relationships between concepts. Each concept node represents a specific term in the vocabulary, and
as narrower relations are followed, the terms become more specific.</p>

<p>There are links to both vocabulary lists on the main menu to the left. For more information about the specific of a
vocabulary, head to its dedicated page.</p>

<p>The vocabularies are approved for usage in MARC21 records.</p>

<p>&copy; 2023 Game Metadata and Citation Project Controlled Vocabularies</p>
